@import "/fonts/fonts.css";

.step .bg-body-secondary {
  background-color: #06052D !important;
  color: white;
  border-radius: 0.5rem;
  padding: 2rem;

  max-width: 700px;
  margin: 0 auto;
}

/* THIS is the important selector */
.step .bg-body-secondary > * {
  max-width: 600px;   /* controls line length */
  width: 100%;
  margin: 0 auto;     /* centers the text block */
  text-align: left;
}

/*************
Bootstrap configuration overrides must be BEFORE importing Bootstrap. 
List of options here: https://getbootstrap.com/docs/5.3/customize/options/
***************/



$font-family-sans-serif: 'Lato', system-ui, -apple-system, 'Segoe UI', sans-serif;
$font-size-base: 1.1rem;
$font-weight-base: 400;
$line-height-base: 1.6;

$headings-font-family: 'Roboto Slab', 'Lato', serif;
$headings-font-style: null;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: #404040;

$display-font-family: 'Crimson Text', 'Roboto Slab', Garamond, 'Times New Roman', serif;
$display-font-style:  null;
$display-font-weight: 300;
$display-line-height: $headings-line-height;

$small-font-size: .875em;

@import "bootstrap/scss/bootstrap"; /* Import all of Bootstrap’s Sass */




/***********
Any project-wide styles should go AFTER the Bootsrap import 
************/



html, body {
  height: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}


/* Break out of the centered container to full viewport width */
.full-bleed {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top; 
  z-index: 0;
}

.hero-content {
  font-family: 'Legitima', serif;
  position: absolute;
  color: white;
  top: 70px;
  left: 70px;
  z-index: 2;
  max-width: 500px;
}

.hero-content h1,
.hero-content p {
  color: white;
}

.hero-title {
  font-family: 'Legitima', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 5.5rem;
  letter-spacing: -1px;
  line-height: 0.5;
}

.hero-title .line1 {
  font-size: 5.5rem;   /* smaller top line */
  letter-spacing: 3px;
  display: block;
}

.hero-title .line2 {
  font-size: 10rem;   /* bigger bottom line */
  letter-spacing: 2px;
  display: block;
  margin-left: 3rem
}

.scrolly-bg {
  background: black;
}

.layer {
  will-change: opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
}


